body {
  background-color: #000;
  color: #FFF;
  background: linear-gradient(to right, #16222a, #3a6073);
  background-size: cover;

}

h1 {
  margin: 50px;
  text-align: center;
}

h3 {
  font-size: 26px;
  margin-bottom: 50px;
  margin-left: 20px;
  word-spacing: 4px;
}

.quiz {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  font-size: 22px;
}

.top {
  margin-left: 40px;
}

ol {
  font-size: 22px;

}

.board {
  background-color: #FFF;
  width: 400px;
  position: relative;
  margin: auto;
  min-height: 400px;



}

.top:hover {
  cursor: pointer;
  color: aqua;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

.contain {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 24px;
}

.players li {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.popup {
  background-color: #FFF;
  width: 450px;
  padding-bottom: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  display: block;
  /* visibility: hidden; */
  text-align: center;
  overflow-y: scroll;
  height: 500px;
}

.popupquiz {
  display: none;
  place-items: center;
  background-color: rgb(38, 39, 38);
  width: 550px;
  padding-bottom: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  /* display: block; */
  /* visibility: hidden; */
  /* text-align: center; */
  overflow-y: scroll;
  height: 550px;
}

.grid {
  display: grid;
}

#play1 {
  margin-top: 10px;
  margin-bottom: 30px;
  color: black;

}

.pollbtn {
  margin-right: 120px;
  background-color: rgb(69, 241, 42);
  border: none;
  color: rgb(255, 255, 255);
}

.quizzes li {
  margin-left: 40px;
}

/*                                              Pie chart                                   */
.chart-heading {
  font-family: "Rubik", sans-serif;
  color: #023047;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
}

.chart-container {
  width: 150px;

}

.programming-stats {
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;


  gap: 24px;
  margin: 0 auto;
  width: fit-content;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 8px 32px;
  color: #023047;
  transition: all 400ms ease;

}

.programming-stat {
  color: #023047;

}

.programming-stats:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
}

.programming-stats .details ul {
  list-style: none;
  padding: 0;
}

.programming-stats .details ul li {
  font-size: 16px;
  margin: 12px 0;
  text-transform: uppercase;
}

.programming-stats .details .percentage {
  font-weight: 700;
  color: #e63946;
}

.close {
  display: none;
}

.questions {
  height: 200px;
}

.btn {
  margin-top: 20px;
}

#loadContent {
  position: absolute;
  margin-left: 50%;
  top: 16rem;
  color: rgb(255, 249, 86)
}

.backbtn {
  position: absolute;
  left: 10px;
  top: 0;
}



@media screen and (max-width:550px) {
  body{
    width: 100%;
  }
  .quiz {
    display: flex;
    flex-wrap: nowrap;
  }

.popupquiz{
  width: 450px;
}
.popup{
  width: 400px;
}
  .pollbtn {
    margin-right: 40px;
  }
}